body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 7s linear;
  height: 140px;
  cursor: pointer;
}

.App-header {
  background-color: cadetblue;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-header h3 {
  font-weight: 200;
  margin-top: 5px;
}

#home {
  margin-top: 150px;
}

.cat-or-dog {
  margin: 15px auto;
}

.cat-or-dog button, .cat-or-dog a {
  font-size: 18px;
}

.App-content {
  font-size: large;
  padding: 5px;
  background-color: beige;
  min-height: 60vh;
}

.animal-img {
  height: 250px;
  width: 250px;
  cursor: pointer;
}

.animal-label {
  margin-top: 3px;
  margin-bottom: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }